{% extends 'imageBuilder/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="imageWrapper">
        <div>
            <img src="{{ image.image.url }}" alt="mockup">
        </div>
        <div>
            <input type="text" id="copyData" value="https://bits2.graphics/image/{{ image.id }}"><button
                    type="button" id="copyBtn" data-clipboard-target="#copyData">Copy</button>
            
            <a class="reportLink" href="/image/{{ image.id }}/report/">Report</a>
        </div>
        
    </div>

    <p style="margin:0;">
        <a href="/">Create your own image now!</a>
    </p>
{% endblock %}

{% block javascript %}
    <script type="text/javascript"
        src="//widget.fotomoto.com/stores/script/137c68470a0bc43d9daabff7b061a083fa07b40c.js">
    </script>
    <noscript>If Javascript is disabled in your browser, enable it to place orders.
        Powered by <a href="http://my.fotomoto.com/">Fotomoto</a>.
    </noscript>

    <script src="{% static 'js/clipboard.min.js' %}"></script>

    <script>
        new Clipboard( '#copyBtn' );
    </script>
{% endblock %}