{% extends 'imageBuilder/base.html' %}
{% load staticfiles %}

{% block content %}
    <p>
        Make art prints from the binary data of your files and text.
        View examples below or create your own now.
    </p>
    
    <div class="linkWrapper">
        <a id="uploadFile" class="selected" href="javascript:void(0)">File Upload</a>
<!--            <a id="uploadUrl" href="javascript:void(0)">File URL</a>-->
        <a id="uploadAscii" href="javascript:void(0)">ASCII Text</a>
        <a id="uploadBinary" href="javascript:void(0)">Binary</a>
    </div>
    
    <div class="formWrapper">
        
        <form>
            <label class="fileContainer">
                Upload File
                <input type="file" id="fileInput" />
            </label>
            
            <div style="display:none;">
                <input type="url" id="urlData" placeholder="http://"><button
                        type="button" id="urlInput">Upload</button>
            </div>
            
            <div style="display:none;">
                <input type="text" id="asciiData" placeholder="Hello world"><button
                        type="button" id="asciiInput">Upload</button>
            </div>
            
            <div style="display:none;">
                <input type="text" id="binaryData" placeholder="00000010"><button
                        type="button" id="binaryInput">Upload</button>
            </div>
            
            <div id="settingsWrapper">
                <div class="settingsGroup">
                    
                    <h2>Canvas Options</h2>
                    
                    <div class="settingsColumns">
                        <div>
                            <label>Font Size (<span id="fontSizeDisplay">0</span>px)</label>
                            <input id="charHeight" type="range" max="400" min="10">
                            
                            <label title="
Large images will have higher quality for large prints, but they
take longer to generate and background images might not fill them.
                            ">Canvas Size</label>
                            <select id="canvasSize">
                                <option value="1:1S">1:1 Small</option>
                                <option value="1:1L">1:1 Large</option>
                                <option value="5:4S">5:4 Small</option>
                                <option value="5:4L">5:4 Large</option>
                                <option value="3:2S">3:2 Small</option>
                                <option value="3:2L">3:2 Large</option>
                                <option value="2:1S">2:1 Small</option>
                                <option value="2:1L">2:1 Large</option>
                            </select>
                        </div>
                        
                        <div>
                            <label>Text Color</label>
                            <div class="colorWrapper">
                                <input type="text" id="textColor" placeholder="#FFFFFF">
                                <div class="colorView" id="textColorView"></div>
                            </div>
                            
                            <label>Font</label>
                            <select id="font">
                                <option value="source">Source Code Pro</option>
                                <option value="www">www</option>
                            </select>
                        </div>
                        
                        <div>
                            <label>Background Color</label>
                            <div class="colorWrapper">
                                <input type="text" id="backgroundColor" placeholder="#000000">
                                <div class="colorView" id="backgroundColorView"></div>
                            </div>
                        </div>

                    </div>
                </div>
                

                <div class="settingsGroup">
                    
                    <h2>Image Options</h2>
                    
                    <div class="settingsColumns" id="imageSettings">
                        
                        <div>
                            <label>Size (<span id="imageSizeDisplay">100</span>%)</label>
                            <input id="imageSize" type="range" max="200" min="1">
                        </div>
                        
                        <div>
                            <label>Opacity (<span id="imageOpacityDisplay">100</span>%)</label>
                            <input id="imageOpacity" type="range" max="100" min="0">
                        </div>
                        
                        <div>
                            <label>Position</label>
                            <select id="imagePosition">
                                <option value="foreground">Foreground</option>
                                <option value="background">Background</option>
                            </select>
                        </div>
                        
                    </div>
                    
                    <div id="imageFileWrapper">
                        <label class="fileContainer" id="imageFileCont">
                            Upload Image File
                            <input type="file" id="imageFileInput" />
                        </label>
                    </div>
                    
                </div>
            </div>
            
            <button type="button" id="updateSettings">Update Canvas</button>

        </form>
    </div>

    <div class="imageWrapper" id="genImageWrapper">
        <div class="linkWrapper">
            
            <form method="POST" style="padding:0;">
                {% csrf_token %}

                <input type="submit" value="Buy Print">

                <div style="display:none;">
                    {{ form.imageData }}
                </div>
            </form>

        </div>

        <div>
            <img id="genImage" src="{% static 'img/preview.png' %}" alt="mockup">
        </div>

        <div class="terms">By creating or uploading content with this service, you agree to
            <a href="/terms/">our terms of use</a> and the
            <a href="https://www.fotomoto.com/help/terms">Fotomoto terms of use</a>
            that apply to content.
        </div>
    </div>
    
    <p>All orders are handled by <a href="https://www.fotomoto.com">fotomoto</a>.</p>
    
    <div class="imageWrapper" id="examples">
        <div><img src="{% static 'img/testimageplsignore.png' %}" alt=""></div>
    </div>

    <p>All orders are handled by <a href="https://www.fotomoto.com">fotomoto</a>.</p>
    
    <div class="imageWrapper">
        <div><img src="{% static 'img/testimageplsignore.png' %}" alt=""></div>
    </div>
    
    <p>View this project on github.</p>
    
    <div class="imageWrapper">
        <div><img src="{% static 'img/testimageplsignore.png' %}" alt=""></div>
    </div>
    
    <p style="margin:0;">A</p>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/load-image.all.min.js' %}"></script>
    <script src="{% static 'js/render.js' %}"></script>
{% endblock %}