{% extends 'imageBuilder/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="imageWrapper">
        <div><img src="{% static 'img/collage1.png' %}" alt="collage"
            id="collage1"
        ></div>
    </div>

    <p>
        Create personalized art from the binary representations of your files and text.
        <noscript>Javascript is required to use the image generator.</noscript>
    </p>

    <div class="linkWrapper">
        <a id="uploadFile" class="selected" href="javascript:void(0)">File Upload</a>
<!--            <a id="uploadUrl" href="javascript:void(0)">File URL</a>-->
        <a id="uploadAscii" href="javascript:void(0)">ASCII Text</a>
        <a id="uploadBinary" href="javascript:void(0)">Binary</a>
    </div>
    
    <div class="formWrapper">
        
        <form>
            <label class="fileContainer">
                Upload File
                <input type="file" id="fileInput" />
            </label>
            
            <div style="display:none;">
                <input type="url" id="urlData" placeholder="http://"><button
                        type="button" id="urlInput">Upload</button>
            </div>
            
            <div style="display:none;">
                <input type="text" id="asciiData" placeholder="Hello world"><button
                        type="button" id="asciiInput">Upload</button>
            </div>
            
            <div style="display:none;">
                <input type="text" id="binaryData" placeholder="00000010"><button
                        type="button" id="binaryInput">Upload</button>
            </div>
            
            <div id="settingsWrapper">
                <div class="settingsGroup">
                    
                    <h2>Canvas Options</h2>
                    
                    <div class="settingsColumns">
                        <div>
                            <label title="
Large images will have higher quality for large prints, but they
take longer to generate and background images might not fill them.
                            ">Size</label>
                            <select id="canvasSize">
                                <option value="1:1S">1:1 Small</option>
                                <option value="1:1L">1:1 Large</option>
                                <option value="5:4S">5:4 Small</option>
                                <option value="5:4L">5:4 Large</option>
                                <option value="3:2S">3:2 Small</option>
                                <option value="3:2L">3:2 Large</option>
                                <option value="2:1S">2:1 Small</option>
                                <option value="2:1L">2:1 Large</option>
                            </select>
                        </div>
                        
                        <div>
                            <label>Orientation</label>
                            <select id="canvasOrientation">
                                <option value="landscape">Landscape</option>
                                <option value="portrait">Portrait</option>
                            </select>
                        </div>
                        
                        <div>
                            <label>Color</label>
                            <div class="colorWrapper">
                                <input type="text" id="backgroundColor" placeholder="#000000">
                                <div class="colorView" id="backgroundColorView"></div>
                            </div>
                        </div>

                    </div>

                    <h2>Text Options</h2>

                    <div class="settingsColumns">
                        <div>
                            <label>Size (<span id="fontSizeDisplay">0</span>px)</label>
                            <input id="charHeight" type="range" max="400" min="10">

                            <!--<label>Font</label>
                            <select id="font">
                                <option value="source">Source Code Pro</option>
                                <option value="www">www</option>
                            </select>-->
                        </div>
                        
                        <div>
                            <label>Border (<span id="canvasPadDisplay">0</span>px)</label>
                            <input id="canvasPad" type="range" max="600" min="0">
                        </div>
                        
                        <div>
                            <label>Color</label>
                            <div class="colorWrapper">
                                <input type="text" id="textColor" placeholder="#FFFFFF">
                                <div class="colorView" id="textColorView"></div>
                            </div>
                        </div>

                    </div>
                </div>
                

                <div class="settingsGroup">
                    
                    <h2>Image Options</h2>
                    
                    <div class="settingsColumns" id="imageSettings">
                        
                        <div>
                            <label>Size (<span id="imageSizeDisplay">100</span>%)</label>
                            <input id="imageSize" type="range" max="200" min="1">
                        </div>
                        
                        <div>
                            <label>Opacity (<span id="imageOpacityDisplay">100</span>%)</label>
                            <input id="imageOpacity" type="range" max="100" min="0">
                        </div>
                        
                        <div>
                            <label>Position</label>
                            <select id="imagePosition">
                                <option value="foreground">Foreground</option>
                                <option value="background">Background</option>
                            </select>
                        </div>
                        
                    </div>
                    
                    <div id="imageFileWrapper">
                        <label class="fileContainer" id="imageFileCont">
                            Upload Image File
                            <input type="file" id="imageFileInput" />
                        </label>
                    </div>
                    
                </div>
            </div>
            
            <button type="button" id="updateSettings">Update Canvas</button>

        </form>
    </div>

    <div class="imageWrapper" id="genImageWrapper">
        <div class="terms">
            Click 'View Full Image' to buy or download the hd image.
            By creating or uploading content with this service, you agree to our 
            <a href="/terms/">terms of use</a>.
        </div>

        <div class="linkWrapper">
            
            <form style="padding:0;" onsubmit="return false;">

                <input type="submit" id="viewImage" value="View Full Image"
                    onclick="toggleCaptcha()">

                <a style="display:none;" href="" download="bits_image"
                    id="downloadImage"
                >Download Image</a>

            </form>

        </div>

        <div>

            <form method="POST" id="imageForm" style="
                    display: none;
                    height: auto;
                    border-top: 8px #000 solid;">

                {% csrf_token %}

                <div style="display:none;">
                    {{ form.imageData }}
                </div>

                <div class="g-recaptcha"
                     data-sitekey="6LcQwicTAAAAAE-qh8zc2loTRQEsE2xNiBwhEd5a">
                </div>

                <input type="submit" value="View Full Image" style="margin: 1rem 0 2rem 0;">

            </form>

            <img id="genImage" src="{% static 'img/preview.png' %}" alt="generated image">
        </div>
    </div>
    
    <p>
        Refine your image in our easy to use binary art generator, which
        outputs high detail images for the best print quality.
        Buy art prints, posters, canvas prints, or metal prints of your
        generated images.
    </p>
    
    <div class="imageWrapper">
        <div><img src="{% static 'img/mockup1.png' %}" alt="mockup"
            title="A hello world program written in python"
        ></div>
    </div>

    <p>
        All images you create with the generator can be used
        <a href="/terms/">however you like</a>,
        and you can use their unique urls to share them with others.
    </p>
    
    <div class="imageWrapper">
        <div><img src="{% static 'img/mockup2.png' %}" alt="mockup"
            title="A picture of some trees"
        ></div>
    </div>

    <p>
        Large images will have higher quality for large prints, but they
        take longer to generate and background images might be too small.
        If an image is too large to upload, you will be shown a direct
        download button.
    </p>
    
    <div class="imageWrapper">
        <div><img src="{% static 'img/mockup3.png' %}" alt="mockup"
            title="Castle pixel art"
        ></div>
    </div>

    <p>
        View this project on <a href="#">github</a>.
    </p>

    <div class="imageWrapper" style="margin-bottom:0;">
        <div><img src="{% static 'img/collage2.png' %}" alt="collage"
            id="collage2"
        ></div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/load-image.all.min.js' %}"></script>
    <script src="{% static 'js/render.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
        // when the collages are hovered over, an image with
        //    details on the images in the collage will appear
        // this cannot be done in css because of how django
        //    templates load static images

        document.getElementById( "collage1" ).addEventListener( "mouseenter", function(){
            document.getElementById( "collage1" )
                .src = "{% static 'img/collage1_overlay.png' %}";
        });
        document.getElementById( "collage1" ).addEventListener( "mouseleave", function(){
            document.getElementById( "collage1" )
                .src = "{% static 'img/collage1.png' %}";
        });

        document.getElementById( "collage2" ).addEventListener( "mouseenter", function(){
            document.getElementById( "collage2" )
                .src = "{% static 'img/collage2_overlay.png' %}";
        });
        document.getElementById( "collage2" ).addEventListener( "mouseleave", function(){
            document.getElementById( "collage2" )
                .src = "{% static 'img/collage2.png' %}";
        });
    </script>
{% endblock %}